#:schema https://raw.githubusercontent.com/YunoHost/apps/main/schemas/tests.v1.schema.json

test_format = 1.0

[default]

    # ------------
    # Tests to run
    # ------------

    test_upgrade_from.9dd8b5416e54cf4263c3874ebd9ef2de3a9ebc5e.name = "Upgrade from 0.22.18~1"
    
